body {
    background-color: maroon;
}

.nav {
    background-color: rgb(220, 30, 30);
    height: 60px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav a {
    color: black;
    text-decoration: none;
    padding:10px 20px;
    border-radius: 8px;
    position: relative;
    top:0px;
    transition: 1000ms;
}

.nav a:hover {
    background-color: maroon;
    top-5px;   
}

h1 {
    text-align: center;
}


.gallery {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.gallery img {
    margin:10px;
    border-radius: 10px;
    width: 200px;
    transition: 500ms;
}

.gallery img:hover {
    transform: scale(120%) rotate(10deg) translate(-20px)
}